@model int

@{
    ViewBag.Title = "Подтверждение";
}

<h2>Ваш заказ принят</h2>

<p>Спасибо за заказ. Номер вашего заказа: @Model</p>

<p>Хотите купить что-нибудь еще? 
    @Html.ActionLink("Товары", "Index", "Home")
</p>
