ul#navmenu-v,
ul#navmenu-v li,
ul#navmenu-v ul {
margin: 0;
border: 0 none;
padding: 0;
width: 180px; 
list-style: none;
font-family: Constantia, Georgia, serif;
    font-size: 16px;
    font-weight: bolder;
float: left; 
background: #FFEFD5;
color: #666;
}

ul#navmenu-v:after {
clear: both;
display: block;
font: 1px/0px serif;
content: ".";
height: 0;
visibility: hidden;
padding: 6px;
}

ul#navmenu-v li {
float: left; 
display: block !important; 
display: inline; 
position: relative;
border-bottom: #5d5a53 1px dotted;
}


ul#navmenu-v a{



display: block;
color: #666;


text-decoration: none;
height: auto !important;
height: 1%; 
}


ul#navmenu-v a:hover,
ul#navmenu-v li:hover a,
ul#navmenu-v li.active a:visited
ul#navmenu-v li.iehover a {
background:  #f4cf6d;
color: #560a3c;
}


ul#navmenu-v li:hover li a,
ul#navmenu-v li.iehover li a {
background:  #f4cf6d;
color: #560a3c;
border: 1px solid #FFF;
}


ul#navmenu-v li:hover li a:hover,
ul#navmenu-v li:hover li:hover a,
ul#navmenu-v li.iehover li a:hover,
ul#navmenu-v li.iehover li.iehover a {
background:  #f4cf6d;
color: #560a3c;
}


ul#navmenu-v li:hover li:hover li a,
ul#navmenu-v li.iehover li.iehover li a {
background:  #f4cf6d;
color: #560a3c;
}


ul#navmenu-v li:hover li:hover li a:hover,
ul#navmenu-v li:hover li:hover li:hover a,
ul#navmenu-v li.iehover li.iehover li a:hover,
ul#navmenu-v li.iehover li.iehover li.iehover a {
background:  #f4cf6d;
color: #560a3c;
}


ul#navmenu-v li:hover li:hover li:hover li a,
ul#navmenu-v li.iehover li.iehover li.iehover li a {
background:  #f4cf6d;
color: #560a3c;
}


ul#navmenu-v li:hover li:hover li:hover li a:hover,
ul#navmenu-v li.iehover li.iehover li.iehover li a:hover {
background:  #f4cf6d;
color: #560a3c;
}

ul#navmenu-v ul,
ul#navmenu-v ul ul,
ul#navmenu-v ul ul ul {
display: none;
position: absolute;
top: 0;
left: 180px;
}


ul#navmenu-v li:hover ul ul,
ul#navmenu-v li:hover ul ul ul,
ul#navmenu-v li.iehover ul ul,
ul#navmenu-v li.iehover ul ul ul {
display: none;
}

ul#navmenu-v li:hover ul,
ul#navmenu-v ul li:hover ul,
ul#navmenu-v ul ul li:hover ul,
ul#navmenu-v li.iehover ul,
ul#navmenu-v ul li.iehover ul,
ul#navmenu-v ul ul li.iehover ul {
display: block;
}