@{
    ViewBag.Title = "Error";
}
 
<h2>Ошибка</h2>
 
<p>Извините, произошла ошибка.
    <a href="javascript:history.go(-1)">Перейдите сюда,</a> 
    если хотите вернуться и попробовать еще раз.</p>
